body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1,
.h1 {}

h2,
.h2 {}

h3,
.h3 {}

a,
.link {
    color: #02A0DD;
    cursor: pointer;
    text-decoration: underline;
}

a:hover,
.link:hover {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
    list-style: inside none disc;
    margin-left: 15px;
}

ul li {}

strong,
.strong {
    font-weight: bold
}

em,
.em {}

table {}

table.nb {
    border: none;
}

table tr {}

table tr td {}

table tr:first-child {}

table tr:last-child {}

table tr:nth-child(2n+1) {}

input {}

textarea {}

select {}

select option {}

input[type=submit] {}

img {
    display: block;
    max-width: 100%
}

input[type=submit]:hover {}

input[type=text],
textarea,
select,
button {
        box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 4px 0 4px 10px;
}

.row {
    display: block;
    width: 100%;
    clear: both;
}

.clear {
    clear: both;
    display: block;
    width: 100%;
    height: 0px;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.tright {
    text-align: right;
}

.tleft {
    text-align: left;
}

.tcenter {
    text-align: center;
}

.center {
    margin: 0px auto;
}

.block {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shadow {}

.radius {
    border-radius: 5px;
}

.radius.r10 {
    border-radius: 10px;
}

.transition {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w24 {
    width: 24%;
}

.w25 {
    width: 25%;
}

.w28 {
    width: 28%;
}

.w29 {
    width: 29%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: url(../img/stol.jpg)no-repeat 50% 50%;
    height: 752px;
}

#hidden {
    display: none;
}
#wrapper{
    position: relative;
    height: 100%;
}